<h1>
	About
</h1>
<br>
<h4>
	About Paddle Boarding
</h4>
<p>
	Paddle boarding is a great experience where you can relax while also getting a great arm workout! 
	It's a fun experience to have with your family and it's also easy to learn.
	No matter where you go, there is always a fun adventure to be had when you are paddle boarding.
	At my lessons, I will teach beginners how to paddle board and have a good time. 
</p>

<h4>
	About me
</h4>


<p>
	I am a happy husband, and a father of two. I am very passionate about fitness and overall health.
	This has inspired me to become a personal trainer and create
		<a href="https://fitnessphoenix.github.io/#!/">
			Fitness Phoenix
		</a>
	Recently, I had the most amazing experience paddle boarding with my wife and have enjoyed it ever since.
	I figured, why not share this experience with everybody during the summertime.
	I now look forward to meeting new people and enjoying teaching them how to paddle board with their family.
</p>

<img src="/images/joey.jpg" alt="A picture of me">
<br>
<br>