
<div data-ng-init="setup()">
	<div class="row">
		<div class="col-md-6">		
			
			<h2>
				Locations
			</h2>


			<p>
				I offer many places to paddle board, they include:
			</p>
			<ul>
				<li>Fort Yargo *Parking fees may apply </li>
				<li>Tribble Mill </li>
				<li>Lake Lanier *Parking fees may apply </li>
				<li>Keith Bridge Park </li>
				<li>Lake Alatoona </li>
				<li>Morgan Falls Overlook Park </li>
				<li>Stone Mountain *parking fees may apply </li>
			</ul>
		</div>	
		<div class="col-md-6">			
			<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1y3XKh0NInVv51besD2v-Qhhs6GWogB0o" width="640" height="480"></iframe>
		</div>
	</div>
</div>