<h1>
	Welcome
</h1>



<p>
	Hello, welcome to Fitness Phoenix's paddle boarding web page.
	With summer on they way, a great way to stay fit while having a good time is paddle boarding.
	Paddle boarding gives you a good excersise while relaxing and enjoying yourself.
	I support many locations around Georgia such as:
</p>
<ul>
	<li>Fort Yargo *Parking fees may apply </li>
	<li>Tribble Mill </li>
	<li>Lake Lanier *Parking fees may apply </li>
	<li>Keith Bridge Park </li>
	<li>Lake Alatoona </li>
	<li>Morgan Falls Overlook Park </li>
	<li>Stone Mountain *parking fees may apply </li>
</ul>
	<br>
<p>
	Equipment such as paddle boards, leash, life jackets, and oars are provided for you to use.
</p>

<p>
NOTE: Some boards are equipped to convert into a kayak with an optional seat and extended paddle head if interested. 
</p>
<p>
* Restrictions apply.
</p>
<p>
**Boarders are limited to a weight limit of 200lbs.
</p>
<br>

<p>
	Paddle boarding is a family experience that everybody should join in on. Your children are welcome to come along with us.
</P>
<p>
	In order to participate, children must
</p>
<ul>
	<li>should be able to swim without a flotation device </li>
	<li>are preferred to be at least 12 years of age. Exceptions may be permitted based on skill. </li>
</ul>
<br>