<h1>
	Picture Gallery
</h1>


<p>
Check out some cool pictures taken while paddle boarding!
</p>
<div class="container">
  <div class="row-2">
    <div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="Neat Pic Dude" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
    <div class="col-md-2">
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="Neat Pic Dude" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>
    </div>
    <div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="das pree neet" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
	<div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="das pree neet" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
	<div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="das pree neet" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
	<div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="Neat Pic Dude" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row-1">
    <div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="Neat Pic Dude" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
    <div class="col-md-2">
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="Neat Pic Dude" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>
    </div>
    <div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="das pree neet" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
	<div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="das pree neet" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
	<div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="das pree neet" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
	<div class="col-md-2">     
       <a href="/images/joey.jpg" target="_blank">
          <img src="/images/joey.jpg" alt="Neat Pic Dude" style="width:100%; height:100%">
          <div class="caption">
          </div>
       </a>     
    </div>
  </div>
</div>
